* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 30%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 50px 0;
    box-shadow: 5px 5px 15px 5px #666;
    -webkit-border-radius: 10px;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    flex-basis: 100%;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

form {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: rgb(228, 228, 228);
}

button {
    background-color: #a82d92;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3e8e41;
}
@media (max-width: 800px) {
    div {
        width: max-content;
    }
}